{% render 'partials/head.liquid' %}
<link rel="stylesheet" href="/styles/artObjectDetail.css">


<main>
<div class="detail-page-grid-container">
<!--add if statements to fill empty-->
    <section class="object-image">
        {% if art.image %}
        <img src="https://fdnd-agency.directus.app/assets/{{ art.image }}" alt="">
        {% else %}
        <h2>Sorry Image not found</h2>
        {% endif %}

        {% if art_object.is_liked %}
        <form action="/unlike/{{ art_object.id }}" method="POST">
            <button type="submit" class="like-button"> 
                <svg width="20" height="20" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M320 1344q0-26-19-45t-45-19q-27 0-45.5 19t-18.5 45q0 27 18.5 45.5t45.5 18.5q26 0 45-18.5t19-45.5zm160-512v640q0 26-19 45t-45 19h-288q-26 0-45-19t-19-45v-640q0-26 19-45t45-19h288q26 0 45 19t19 45zm1184 0q0 86-55 149 15 44 15 76 3 76-43 137 17 56 0 117-15 57-54 94 9 112-49 181-64 76-197 78h-129q-66 0-144-15.5t-121.5-29-120.5-39.5q-123-43-158-44-26-1-45-19.5t-19-44.5v-641q0-25 18-43.5t43-20.5q24-2 76-59t101-121q68-87 101-120 18-18 31-48t17.5-48.5 13.5-60.5q7-39 12.5-61t19.5-52 34-50q19-19 45-19 46 0 82.5 10.5t60 26 40 40.5 24 45 12 50 5 45 .5 39q0 38-9.5 76t-19 60-27.5 56q-3 6-10 18t-11 22-8 24h277q78 0 135 57t57 135z"/></svg>
            </button>
        </form>
        {% else %}
        <form action="/like/{{ art_object.id }}" method="POST">
            <button type="submit"class="like-button" >
                 <svg width="20" height="20" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M320 1344q0-26-19-45t-45-19q-27 0-45.5 19t-18.5 45q0 27 18.5 45.5t45.5 18.5q26 0 45-18.5t19-45.5zm160-512v640q0 26-19 45t-45 19h-288q-26 0-45-19t-19-45v-640q0-26 19-45t45-19h288q26 0 45 19t19 45zm1184 0q0 86-55 149 15 44 15 76 3 76-43 137 17 56 0 117-15 57-54 94 9 112-49 181-64 76-197 78h-129q-66 0-144-15.5t-121.5-29-120.5-39.5q-123-43-158-44-26-1-45-19.5t-19-44.5v-641q0-25 18-43.5t43-20.5q24-2 76-59t101-121q68-87 101-120 18-18 31-48t17.5-48.5 13.5-60.5q7-39 12.5-61t19.5-52 34-50q19-19 45-19 46 0 82.5 10.5t60 26 40 40.5 24 45 12 50 5 45 .5 39q0 38-9.5 76t-19 60-27.5 56q-3 6-10 18t-11 22-8 24h277q78 0 135 57t57 135z"/></svg>
             </button>
        </form>
        {% endif %}
    </section>

    <section class="object-title-container">
            {% if art.title %}
            <h1 class="object-title"> {{art.title}} </h1>
            {% else %}
            <h1 class="object-title"> Unknown title </h1>
            {% endif %}


            {% if art.museum %}
            <h3 class="object-museum"><a href="">{{art.museum}}</a></h3> <!--replace with {{object.museum}}-->
            {% else %}
            <h3 class="object-museum"><a href="">Unknown Museum</a></h3>
            {% endif %}
    </section>

    <section class="description-container">
        {% if art.summary %}
            <p>{{art.summary}}</p>
        {% else %}   
        <p>Lorem ipsum dolor sit amet. Eum libero odit sit delectus maxime et praesentium nihil ut minus doloremque eum illum aliquid eos odio dicta et facere quasi. Sit omnis assumenda est
            dolorum nihil aut itaque perspiciatis qui autem eligendi.

           Ut quae quia eum voluptatem voluptatem et laborum distinctio eos minima consequuntur est deserunt dicta est dolorum quidem. Ut iste rerum ut provident expedita aut iure voluptas 
           et quia minus non consequuntur enim qui unde delectus eos excepturi omnis. Est voluptatibus sapiente eum unde eveniet est magni earum. Ad reprehenderit fuga et ratione quia est nisi earum et animi obcaecati est obcaecati nostrum?
       </p> 
       {% endif %}

    </section>
    <!-- FIND OUT: Is there a more efficient way to do these % if %'s ?? -->

    <section class="object-detail-table-container">
            <h3 class="display-location">On Display at Mathaf</h3>
            <table class="detail-table">
                <!--replaceall data with api data-->
                <tr>
                    <th>Full title:</th>
                    <td>A Collection of Portraits, Sketched from the Life Since the Year 1793...and engraved in imitation of Original Drawings, vol. 2</td>
                </tr>
                <tr>
                    <th>Artist:</th>
                    <td>{{art.artist}}</td>
     
                </tr>
                <tr>
                    <th>Location created:</th>
                    <td>{{art.site}}</td>
    

                </tr>
                <tr>
                    <th>Period:</th>
                    <td>{{art.displayDate}}</td>
                </tr>
                <tr>
                    <th>Material:</th>
                    <td>{{art.materials}}</td>
                </tr>
                <tr>
                    <th>Dimensions:</th>
                    <td>unknown</td>
                </tr>
                <tr>
                    <th>Object number:</th>
                    <td>{{art.objectNumber}}</td>
                </tr>
                <tr>
                    <th>Record type:</th>
                    <td>{{art.recordType}}</td>
                </tr>
                <tr>
                    <th>Classification:</th>
                    <td>Unknown</td>
                </tr>
            </table>
    </section>
</div>

</main>

{% render 'partials/foot.liquid' %}