{% render 'partials/head.liquid' %}
<link rel="stylesheet" href="/styles/gallery.css">

<main>


        <!--Gallery section-->
        <section class="all-objects" id="gallery">
            <ul class="object-container">
    
                {% for art_object in art_objects %}
                <li class="object-item {% if art_object.is_liked %}liked{% endif %}">
                    <article class="object">
                        <a href="/art/{{art_object.id}}">
                            <img src="https://fdnd-agency.directus.app/assets/{{ art_object.image }}" alt="Art object: {{ art_object.title }}">
                        </a>

                        <div class="object-info">
                            <p>{{art_object.title}}</p>
                            <!--like and unlike function-->
                            {% if art_object.is_liked %}
                            <form action="/unlike/{{ art_object.id }}" method="POST" aria-label="Unlike">
                                <button type="submit" class="like-button"> 
                                    <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" fill="#ff0000" stroke="#ff0000" stroke-width="0.00048000000000000007"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.384"></g><g id="SVGRepo_iconCarrier"> <path d="M0 0h48v48H0z" fill="none"></path> <g id="Shopicon"> <path d="M8.444,27L24,42l15.556-15c2.7-2.033,4.444-5.256,4.444-8.889C44,11.978,39.022,7,32.889,7 C29.256,7,26.022,8.756,24,11.456C21.978,8.756,18.744,7,15.111,7C8.978,7,4,11.978,4,18.111C4,21.744,5.744,24.967,8.444,27z"></path> </g> </g></svg>                            
                                </form>

                            {% else %}
                            <form action="/like/{{ art_object.id }}" method="POST">
                                <button type="submit"class="like-button" aria-label="Like">
                                 <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" fill="#ddd" stroke="#ddd" stroke-width="0.00048000000000000007"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.384"></g><g id="SVGRepo_iconCarrier"> <path d="M0 0h48v48H0z" fill="none"></path> <g id="Shopicon"> <path d="M8.444,27L24,42l15.556-15c2.7-2.033,4.444-5.256,4.444-8.889C44,11.978,39.022,7,32.889,7 C29.256,7,26.022,8.756,24,11.456C21.978,8.756,18.744,7,15.111,7C8.978,7,4,11.978,4,18.111C4,21.744,5.744,24.967,8.444,27z"></path> </g> </g></svg>                       
                                </form>

                            {% endif %}
                        </div>
                    </article>

                </li>

                {% endfor %}
    
            </ul>
    
        </section>
    
        <section class="filter-and-search-container">
            <ul class="filter-container">
                <li class="filter-button">
                  <form method="GET" action="" >
                    <button type="submit" name="filter" value="all">All objects</button>
                  </form>
                </li>
                <li class="filter-button">
                  <form method="GET" action="">
                    <button type="submit" name="filter" value="liked">Liked objects</button>
                  </form>
                </li>
              </ul>
              
            
            <form role="search" action="" method="GET" class="search-bar" >
                <label for="search"></label>
                <input class="search-input" type="search" name="search" placeholder="Look through the art" aria-label="Search for artwork">
            </form>
        </section>
        <!--End Gallery section-->
</main>
<script src="/scripts/qatarmuseum.js"></script>
{% render 'partials/foot.liquid' %}